{% extends 'base.html' %}

{% block title %} Lead List {% endblock %}

{% block content %}
    <div class="container">

    <h1 class="h1 mt-3 pt-3">Leads List </h1>
    <p class="small p">Note : This is our Leads List</p>

    <small><hr></small>
  

{% for lead in leads %}

<table class="table table-bordered text-center">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Status</th>
        <th scope="col">Active</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">{{lead.id}}</th>
        <td><a href="{% url 'lead:detail' lead.pk %}">{{lead.name}}</a></td>
        <td>{{lead.status}}</td>
        <td>{{ lead.is_active }}</td>
      </tr> 
    </tbody>
{% endfor %}
</table>
</div>
{% endblock %}