{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load bootstrap4 %}

{% block title %} Create Lead {% endblock %}

{% block content %}

    <div class="container">
        <h1> Create Contacts </h1>
        
        <form class="uniForm" method="POST">
            <div class="">
                {% csrf_token %}
                {% bootstrap_form form %}

                    <p><input type="submit" value="Submit"class="btn btn-success"></p>  
            </div>
        </form>
    

    </div>

{% endblock %}